<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>phi.server.url.register</key>
	<string>phi-gl-member/v1/register</string>
	<key>phi.server.url.login</key>
	<string>phi-gl-member/v1/login</string>
	<key>phi.server.url.resetMemberKeyCode</key>
	<string>phi-gl-member/v1/reset-pwd</string>
	<key>phi.server.url.updateMemberKeyCode</key>
	<string>phi-gl-member/v1/update-pwd</string>
	<key>phi.server.url.refresh-token</key>
	<string>phi-gl-member/v1/refresh-token</string>
	<key>phi.server.url.checkMembership</key>
	<string>phi-gl-member/v1/check-membership</string>
	<key>phi.server.url.updateMember</key>
	<string>phi-gl-member/v1/update-member</string>
	<key>phi.server.url.verifyKeycode</key>
	<string>phi-gl-member/v1/verify-keycode</string>
	<key>phi.server.url.getKey</key>
	<string>phi-gl-member/v1/get-key</string>
	<key>phi.server.url.findMedicalPartner</key>
	<string>phi-gl-partner/v1/list</string>
	<key>phi.server.url.findAuthorizedPartner</key>
	<string>phi-gl-partner/v1/list-authorized-partner</string>
	<key>phi.server.url.findMedicalDept</key>
	<string>phi-gl-medical-auth/v1/find-medical-dept</string>
	<key>phi.server.url.findMedicalAuth</key>
	<string>phi-gl-medical-auth/v1/find-medical-auth</string>
	<key>phi.server.url.setupMedicalAuth</key>
	<string>phi-gl-medical-auth/v1/setup-medical-auth</string>
	<key>phi.server.url.resetMedicalAuth</key>
	<string>phi-gl-medical-auth/v1/reset-medical-auth</string>
	<key>phi.server.url.deleteMedicalAuth</key>
	<string>phi-gl-medical-auth/v1/delete-medical-auth</string>
	<key>phi.server.url.countExpiredMedAuth</key>
	<string>phi-gl-medical-auth/v1/count-expired-medical-auth</string>
	<key>phi.server.url.terminateMedAuth</key>
	<string>phi-gl-medical-auth/v1/terminate-medical-auth</string>
	<key>phi.server.url.extendMedAuth</key>
	<string>phi-gl-medical-auth/v1/extend-medical-auth</string>
	<key>phi.server.url.listExpiredMedAuth</key>
	<string>phi-gl-medical-auth/v1/list-expired-medical-auth</string>
	<key>phi.server.url.checkEffectiveMedicalAuth</key>
	<string>phi-gl-medical-auth/v1/check-effective-medical-auth</string>
	<key>phi.server.url.handleMedicalAuth</key>
	<string>phi-gl-medical-auth/v1/handle-medical-auth</string>
	<key>phi.server.url.findMember</key>
	<string>phi-gl-member/v1/find-member</string>
	<key>phi.server.url.mobileUUID</key>
	<string>phi-gl-member/v1/mobileUUID</string>
	<key>Keycloak.v1.batch-login</key>
	<string>phi-gl-member-manager/v1/batch-login</string>
	<key>phi.server.url.getEncountersWithPrescription</key>
	<string>phi-gl-encounter/v1/get-encounters-with-prescription</string>
	<key>phi.server.url.getPrescriptionMedicines</key>
	<string>phi-gl-prescription/v1/get-prescription-medicines</string>
	<key>phi.server.url.getPrescriptionRecoeds</key>
	<string>phi-gl-prescription/v1/get-prescription-receive-records</string>
	<key>phi.server.url.getPrescriptionRecoedsDetail</key>
	<string>phi-gl-prescription/v1/get-prescription-receive-record-detail</string>
	<key>phi.server.url.getPrescriptionMedicinesQrcode</key>
	<string>phi-gl-prescription/v1/get-prescription-receive-medicine-qrcode</string>
	<key>phi.server.url.getPrescription</key>
	<string>phi-gl-prescription/v1/get-prescription</string>
	<key>phi.server.url.searchPharmacy</key>
	<string>phi-gl-pharmacy/v1/pharmacys/search</string>
	<key>phi.server.url.prescriptionReceive</key>
	<string>phi-gl-prescription/v1/prescription-receive</string>
	<key>phi.server.url.prescriptionReservation</key>
	<string>phi-gl-prescription/v1/prescription-reservation</string>
	<key>phi.server.url.getPrescriptionsStatus</key>
	<string>phi-gl-prescription/v1/get-prescriptions-status</string>
	<key>phi.server.url.saveAPNSToken</key>
	<string>phi-gl-notification/v1/save-token</string>
	<key>phi.server.url.countUnreadNotification</key>
	<string>phi-gl-notification/v1/count-unread-notifications</string>
	<key>phi.server.url.listNotification</key>
	<string>phi-gl-notification/v1/list-notifications</string>
	<key>phi.server.url.markNotification</key>
	<string>phi-gl-notification/v1/mark-notification-as-read</string>
	<key>phi.server.url.getReminderRecords</key>
	<string>phi-gl-reminder/v1/get-reminder-records</string>
	<key>phi.server.url.createReminderSettings</key>
	<string>phi-gl-reminder/v1/create-reminder-settings</string>
	<key>phi.server.url.getReminderSetting</key>
	<string>phi-gl-reminder/v1/get-reminder-setting</string>
	<key>phi.server.url.ModifyReminderSetting</key>
	<string>phi-gl-reminder/v1/modify-reminder-setting</string>
	<key>phi.server.url.DeleteReminderSetting</key>
	<string>phi-gl-reminder/v1/delete-reminder-setting</string>
	<key>phi.server.url.CreateSingleReminderSetting</key>
	<string>phi-gl-reminder/v1/create-reminder-single-time-setting</string>
	<key>phi.server.url.ModifySingleReminderSetting</key>
	<string>phi-gl-reminder/v1/modify-reminder-single-time-setting</string>
	<key>phi.server.url.CreateReminderRecoedMedInfo</key>
	<string>phi-gl-reminder/v1/create-reminder-record-medicine-info</string>
	<key>phi.server.url.DeleteReminderRecoedMedInfo</key>
	<string>phi-gl-reminder/v1/delete-reminder-record-medicine-info</string>
	<key>phi.server.url.SyncReminderNotifications</key>
	<string>phi-gl-reminder/v1/sync-and-get-reminder-notifications</string>
	<key>phi.server.url.FindRoutineTime</key>
	<string>phi-cl-reminder/v1/find-routine-time</string>
	<key>phi.server.url.SetRoutineTime</key>
	<string>phi-cl-reminder/v1/routine-time</string>
</dict>
</plist>
